.contest_description {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  padding: 45px 20px 35px 20px;
}

.contest_description_invitation {
  display: none;
}

@media (min-width: $tablet-width) {
  .contest_description {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding-left: 82px;
    padding-right: 82px;
    padding-top: 92px;
    padding-bottom: 56px;
    color: #283645;
  }

  .contest_description_invitation {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0;
  }

  .contest_form {
    order: 1;
  }
}

  @media (min-width: $desktop-width) {
    .contest_block {
      width: 960px;
      margin: 0 auto;
    }

    .contest_description {
      padding-right: 35px;
      padding-left: 35px;
      margin-bottom: 30px;
    }

    .contest_description_invitation {
      display: inline;
    }
  }

  @import "variables.scss";
