.effect {
  display: none;
}

.effect_description-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #283645;
  margin: 0;
  margin-bottom: 25px;
}

.effect_description-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #283645;
  margin: 0;
  margin-bottom: 20px;
}

.effect_description-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #d22856;
  border-bottom: 1px #d22856 solid;
}

@media (min-width: $tablet-width) {
  .effect {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 95px;
    margin: 0 auto 90px;
  }

  .effect_wrapper {
    width: 660px;
  }

  .effect_description {
    width: 333px;
    margin-left: auto;
    padding-left: 70px;
    position: relative;
  }

  .effect_description::before {
    content: "";
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 237px;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 153%;
    top: -62px;
    right: 322px;
  }

  .effect_description::after {
    background-repeat: no-repeat;
    background-size: 200px;
    content: "24";
    background-position: center;
    position: absolute;
    background-image: url("../img/icon-editor-diagram-fill.svg");
    height: 200px;
    width: 200px;
    background-color: transparent;
    top: 20px;
    left: -221px;
    font-size: 95px;
    line-height: 191px;
    font-weight: bold;
    color: #d22856;
    text-align: center;
  }

  .effect_background {
    display: flex;
    justify-content: space-around;
    width: 279px;
    position: relative;
    padding-top: 14px;
  }

  .effect_description-title {
    margin-bottom: 12px;
  }

  .effect_description-text {
    padding-right: 32px;
    text-align: left;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    padding: 0;
    height: 413px;
    margin: 0;
    background-color: #f2f2f2;
    width: 100%;
  }

  .effect_wrapper {
    width: 940px;
  }

  .description_wrap {
    display: none;
  }

  .effect_description {
    width: 564px;
    margin-left: auto;
    padding-top: 96px;
  }

  .effect_description::before {
    background-size: 297px;
    background-position: center;
    position: absolute;
    height: 172%;
    top: -82px;
    right: 462px;
  }

  .effect_description::after {
    font-size: 120px;
    background-size: 251px;
    line-height: 239px;
    height: 253px;
    width: 251px;
    background-color: transparent;
    top: 70px;
    left: -274px;
  }

  .effect_description-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .effect_description-text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    padding-right: 34px;
  }

  .effect_description-link {
    font-size: 18px;
    line-height: 30px;
  }
}

@import "variables.scss";
