.form-header_title {
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  padding: 25px 44px 48px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

@media (min-width: $tablet-width) {
  .form-header_title {
    font-weight: lighter;
    font-size: 50px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 56px 90px 68px 95px;
  }
}

@media (min-width: $desktop-width) {
  .form-header_title {
    width: 800px;
    padding: 65px 0 82px;
    margin: 0 auto;
    font-size: 48px;
  }
}

@import "variables.scss";
