.form_header-title {
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  padding: 21px 44px 50px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .form_header-title {
    font-weight: lighter;
    font-size: 50px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 56px 90px 68px 95px;
  }
}

@media (min-width: $desktop-width) {
  .form_header-title {
    width: 750px;
    padding: 65px 0 82px;
    margin: 0 auto;
  }
}

@import "variables.scss";
