.form {
  margin-bottom: 15px;
}

.form-header_title {
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  padding: 25px 44px 48px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

.form-main_description {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  padding: 45px 20px 35px 20px;
}

.form-main_description--invitation {
  display: none;
}

.form_field {
  display: flex;
  flex-direction: column;
  padding-bottom: 23px;
}

.form_text-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  padding-left: 13%;
  margin-bottom: 6px;
}

.form_text-input {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  width: 80%;
  margin: 0 auto;
  height: 58px;
  padding-left: 22px;
  border: 2px #f2f2f2 solid;
}

.form_text-input:hover {
  border: 2px #283645 solid;
}

.form_text-input:active {
  border: 2px #d22856 solid;
}

.form_text-field--fullname {
  margin-bottom: 16px;
}

.form_text-field {
  display: flex;
  flex-direction: column;
}

.form_fieldset {
  margin: 0;
  padding: 0;
}

.form_fieldset--achievements {
  background-color: #f2f2f2;
  border: none;
}

.form_title {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 40px 22px;
}

.form_title--achievements {
  width: 276px;
  margin: 0 auto;
  line-height: 18px;
  background-color: #f2f2f2;
  text-align: center;
  padding: 40px 22px 20px;
}

.form_checkbox-label {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  position: relative;
  margin-left: 27%;
  padding: 24px 0 28px;
}

.form_checkbox-input {
  display: none;
}

.form_checkbox-input ~ .form_checkbox-label::before {
  content: "";
  position: absolute;
  border: 2px #e5e5e5 solid;
  background-color: #ffffff;
  width: 34px;
  height: 34px;
  top: 18px;
  left: -62px;
}

.form_checkbox-input ~ .form_checkbox-label:hover::before {
  border: 2px #283645 solid;
}

.form_checkbox-input ~ .form_checkbox-label:active::before {
  border: 2px #d22856 solid;
}

.form_checkbox-input:checked ~ .form_checkbox-label::before {
  content: "";
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
  position: absolute;
  border: 2px #e5e5e5 solid;
  background-color: #ffffff;
  width: 34px;
  height: 34px;
  top: 18px;
  left: -62px;
}

.form_checkbox-input:checked ~ .form_checkbox-label:hover::before {
  border: 2px #283645 solid;
}

.form_checkbox-input:checked ~ .form_checkbox-label:active::before {
  border: 2px #d22856 solid;
}

.form_fieldset--contacts {
  padding-top: 33px;
  border: none;
}

.form_text-input--contacts {
  margin: 0 5%;
}

.form_fieldset--apps {
  background-color: #f2f2f2;
  border: none;
}

.form_title--apps {
  padding: 38px 0 20px;
  width: 320px;
  margin: 0 auto;
  line-height: 18px;
  background-color: #f2f2f2;
}

.form_fieldset--emotions {
  border: none;
}

.form_radio-input {
  display: none;
}

.form_radio-label {
  font-size: 18px;
  line-height: 30px;
  display: block;
  position: relative;
  margin-left: 28%;
  padding: 22px 0;
}

.form_radio-input ~ .form_radio-label::before {
  content: "";
  position: absolute;
  border: 2px #e5e5e5 solid;
  border-radius: 50%;
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  top: 15px;
  left: -71px;
}

.form_radio-input:checked ~ .form_radio-label::before {
  content: "";
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  position: absolute;
  border: 2px #e5e5e5 solid;
  border-radius: 50%;
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  top: 15px;
  left: -71px;
}

.form_radio-input ~ .form_radio-label:hover::before {
  border: 2px #283645 solid;
}

.form_radio-input ~ .form_radio-label:active::before {
  border: 2px #d22856 solid;
}

.form_text-field--contacts {
  margin-bottom: 17px;
}

.form_fieldset-inner {
  width: 100%;
  padding-bottom: 20px;
}

.form_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.form_footer-block {
  margin: 0 auto;
  margin-bottom: 28px;
  width: 320px;
}

.form_error {
  margin: 0 auto;
  width: 320px;
  height: 290px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
}

.form_error-wrapper {
  width: 280px;
  margin: 0 auto;
}

.form_error-description {
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  padding-top: 45px;
}

.form_error-text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
  padding-top: 35px;
}

.form_sucsess {
  margin: 0 auto;
  width: 320px;
  height: 380px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
}

.form_sucsess-wrapper {
  width: 280px;
  margin: 0 auto;
}

.form_sucsess-description {
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  padding-top: 45px;
}

.form_sucsess-text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
  padding: 0 7px;
  padding-top: 35px;
  padding-bottom: 20px;
}

.form_submit-button {
  border: 0;
  width: 280px;
  margin: 0 auto;
  padding: 17px 0;
  background-color: #2aab6d;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 35px;
}

.form_submit-button:active {
  color: #61b98f;
}

.form_submit-error {
  margin-bottom: 0;
  margin-top: 40px;
}

.form_submit-sucsess {
  width: 280px;
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 55px;
}

.form_submit-block {
  width: 320px;
  height: 163px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.form_note {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  text-transform: uppercase;
}

.form_note-symbol {
  color: #d22856;
  text-transform: uppercase;
}

.form_title--contacts {
  display: none;
}

.form_title--emotions {
  padding: 41px 0 10px;
  width: 320px;
  margin: 0 auto;
}

.form_textarea--emotions {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  display: flex;
  width: 275px;
  height: 180px;
  text-align: center;
  padding-top: 14px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 30px;
  resize: none;
}

.form_note-symbol--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .form-main_description {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding-left: 82px;
    padding-right: 82px;
    padding-top: 92px;
    padding-bottom: 56px;
    color: #283645;
  }

  .form-header_title {
    font-weight: lighter;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 65px 90px 80px 96px;
  }

  .form-main_description--invitation {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0;
  }

  .form_text {
    order: 1;
  }

  .forw_wrap {
    display: none;
  }

  .form_wrapper {
    display: flex;
    flex-direction: column;
  }

  .form_footer {
    width: 626px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 57px;
  }

  .form_text-field {
    display: flex;
    flex-direction: row;
  }

  .form_field {
    padding: 16px 3% 6px;
  }

  .form_text-label {
    margin: 0;
    padding-top: 16px;
    padding-left: 0;
  }

  .form_text-input {
    margin: 0;
    margin-left: auto;
  }

  .form_text-input--last-name {
    width: 501px;
  }

  .form_text-input--first-name {
    width: 541px;
  }

  .form_text-input--middle-name {
    width: 501px;
  }

  .form_text-field--fullname {
    margin-bottom: 51px;
  }

  .form_title--apps {
    background-color: transparent;
    padding: 0 5%;
    width: 330px;
    margin: 0 auto;
  }

  .form_title--wrap {
    display: none;
  }

  .form_fieldset--apps {
    background-color: #ffffff;
    padding: 0;
    order: 2;
    border: 2px #f2f2f2 solid;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .form_radio-fields--apps {
    padding: 12px 0 30px;
  }

  .form_radio-label {
    margin-left: 19%;
    padding: 36px 0 9px;
  }

  .form_radio-input ~ .form_radio-label::before {
    top: 31px;
    left: -59px;
  }

  .form_radio-input:checked ~ .form_radio-label::before {
    top: 30px;
    left: -59px;
  }

  .form_title--contacts {
    display: block;
    padding: 0 22px;
    width: 207px;
    margin: 0 auto;
  }

  .form_fieldset-inner--contacts {
    padding-bottom: 0;
  }

  .form_fieldset--contacts {
    order: 3;
    border: 2px #f2f2f2 solid;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 33px;
  }

  .form_text-label--contacts {
    padding-left: 18px;
    padding-top: 8px;
  }

  .form_text-fields--contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form_text-field--contacts {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    margin-bottom: 32px;
    position: relative;
    width: 500px;
  }

  .form_text-input--contacts {
    width: 474px;
    height: 57px;
    position: relative;
  }

  .form_text-field--contacts::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    background-color: #f2f2f2;
    width: 64px;
    height: 57px;
    right: 1px;
    top: 3px;
  }

  .form_text-field--contacts:last-child::after {
    background-image: url("../img/icon-mail.svg");
    right: -3px;
  }

  .form_fieldset--achievements {
    background-color: #ffffff;
    order: 4;
    border: 2px #f2f2f2 solid;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 21px;
  }

  .form_fieldset-inner--achievements {
    padding-bottom: 26px;
  }

  .form_title--achievements {
    background-color: transparent;
    width: 400px;
    margin: 0 auto;
    padding: 22px 22px 20px;
  }

  .form_checkbox-label {
    margin-left: 19%;
    padding: 26px 0 27px;
  }

  .form_checkbox-input ~ .form_checkbox-label::before {
    top: 23px;
    left: -59px;
  }

  .form_checkbox-input:checked ~ .form_checkbox-label::before {
    top: 23px;
    left: -59px;
  }

  .form_submit-button {
    margin: 0;
    width: 298px;
  }

  .form_fieldset--emotions {
    border: 2px #f2f2f2 solid;
    width: 620px;
    margin: 0 auto 70px;
  }

  .form_title--emotions {
    padding: 30px 43px;
    width: 207px;
    margin: 0 auto;
  }

  .form_fieldset-inner--emotions {
    padding-bottom: 0;
  }

  .form_textarea--emotions {
    color: #283645;
    text-align: center;
    display: flex;
    width: 494px;
    height: 170px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 30px;
    border: 2px #e5e5e5 solid;
  }

  .form_sucsess {
    transform: translateX(18%);
    width: 460px;
    height: 431px;
  }

  .form_sucsess-description {
    margin: 0;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    padding-top: 23px;
  }

  .form_sucsess-text {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: #283645;
    text-align: center;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 20px;
  }

  .form_submit-block {
    width: 460px;
    height: 153px;
    margin: 0 auto;
    background-color: #f2f2f2;
  }

  .form_submit-sucsess {
    margin-top: 10%;
    margin-left: 17%;
  }

  .form_error {
    transform: translateX(18%);
    width: 460px;
    height: 367px;
  }

  .form_error-wrapper {
    width: 320px;
  }

  .form_error-description {
    margin: 0;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    padding-top: 23px;
  }

  .form_error-text {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: #283645;
    text-align: center;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 45px;
  }

  .form_submit-error {
    margin-left: 4%;
  }
}

@media (min-width: $desktop-width) {
  .form_block {
    width: 960px;
    margin: 0 auto;
  }

  .form-header_title {
    width: 800px;
    padding: 62px 0 99px;
    margin: 0 auto;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 1px;
  }

  .form-main_description {
    width: 765px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .form-main_description--invitation {
    display: inline;
  }

  .form_field {
    width: 439px;
    margin: 0;
    padding: 0;
  }

  .form_wrapper {
    width: 940px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form_text-label {
    padding-top: 17px;
    margin-left: 0;
    padding-bottom: 7px;
  }

  .form_text-input--last-name {
    width: 316px;
  }

  .form_text-input--first-name {
    width: 355px;
  }

  .form_text-input--middle-name {
    width: 315px;
  }

  .form_fieldset--apps {
    width: 432px;
    height: 303px;
    margin: 0;
    margin-left: 65px;
    transform: translateY(-4%);
  }

  .form_radio-fields--apps {
    padding: 2px 0;
  }

  .form_radio-label {
    margin-left: 32%;
    padding: 24px 0;
    width: 249px;
  }

  .form_radio-input:checked ~ .form_radio-label::before {
    top: 19px;
  }

  .form_radio-input ~ .form_radio-label::before {
    top: 19px;
  }

  .form_fieldset--contacts {
    width: 940px;
    display: block;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
  }

  .form_title--contacts {
    width: 208px;
    margin: 0 auto;
  }

  .form_text-label--contacts {
    padding-top: 12px;
    margin-left: 0;
    padding-bottom: 10px;
  }

  .form_text-input--contacts {
    width: 347px;
  }

  .form_text-fields--contacts {
    flex-direction: row;
    width: 820px;
    margin: 0 59px 0;
  }

  .form_text-field--contacts {
    margin-bottom: 0;
    width: 410px;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
  }

  .form_text-field--contacts::after {
    width: 64px;
    height: 60px;
    right: -1px;
    top: 1px;
  }

  .form_text-field--contacts:last-child {
    margin-left: 77px;
  }

  .form_fieldset--achievements {
    display: block;
    justify-content: space-around;
    width: 940px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .form_checkbox-fields--achievements {
    display: flex;
    justify-content: space-around;
    width: 820px;
    margin-left: 91px;
    box-sizing: border-box;
    padding-bottom: 28px;
  }

  .form_checkbox-wrapper {
    margin-left: 0%;
  }

  .form_checkbox-wrapper:nth-child(2) {
    margin-left: 7%;
  }

  .form_checkbox-wrapper:last-child {
    margin-left: 7%;
  }

  .form_title--achievements {
    padding: 20px 3% 20px;
  }

  .form_checkbox-label {
    padding: 28px 0;
    margin: 0;
  }

  .form_fieldset-inner {
    padding-top: 22px;
  }

  .form_fieldset-inner--achievements {
    padding: 0;
  }

  .form_fieldset-inner--contacts {
    padding-top: 30px;
  }

  .form_fieldset--emotions {
    width: 940px;
    margin: 3px auto 65px;
  }

  .form_fieldset-inner--emotions {
    padding: 0;
  }

  .form_textarea--emotions {
    width: 814px;
    height: 107px;
    margin-bottom: 46px;
    text-align: left;
    line-height: 22px;
    text-indent: 18px;
    letter-spacing: 0.5px;
  }

  .form_footer {
    width: 940px;
    margin: 0 auto;
  }

  .form_note-symbol--desktop {
    display: inline;
  }

  .form_fieldset-inner--apps {
    margin: 0;
  }

  .form_error {
    width: 782px;
    height: 378px;
    right: 208px;
    bottom: 109px;
  }

  .form_error-wrapper {
    width: 100%;
  }

  .form_error-description {
    padding-top: 50px;
    width: 330px;
    margin: 0 auto;
  }

  .form_error-text {
    padding-bottom: 40px;
    width: 365px;
    margin: 0 auto;
  }

  .form_button-wrapper {
    height: 165px;
    width: 782px;
    background-color: #f2f2f2;
  }

  .form_submit-error {
    margin-top: 6%;
    margin-left: 30%;
  }

  .form_sucsess {
    width: 780px;
    height: 376px;
    right: 209px;
    bottom: 109px;
  }

  .form_sucsess-wrapper {
    width: 100%;
  }

  .form_sucsess-description {
    width: 400px;
    margin: 0 auto;
  }

  .form_sucsess-text {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 41px;
  }

  .form_submit-block {
    width: 780px;
    height: 164px;
  }

  .form_submit-sucsess {
    margin-top: 6%;
    margin-left: 20%;
    width: 460px;
  }
}

@import "variables.scss";
