.review {
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 3;
  background-color: #ffffff;
  padding-bottom: 35px;
}

.review_list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-shrink: 1;
  position: relative;
  overflow: hidden;
}

.review_item {
  display: block;
  position: relative;
  width: 100%;
  flex-shrink: 0;
  top: 0;
  left: 0;
  height: 100%;
  padding-bottom: 35px;
}

.disable-slide {
  display: none;
}

.slide {
  display: block;
}

.review_wrapper {
  padding-top: 41px;
  overflow: hidden;
  margin-bottom: 55px;
}

.review_text {
  padding: 0 20px;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.review_slider-input {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.review_author {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  display: block;
  margin-bottom: 13px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.author_description {
  display: none;
  margin: 0;
}

.review_slider_toggles {
  display: flex;
  justify-content: space-between;
  width: 78px;
  height: 12px;
  margin: 0 auto;
}

.review_slider-label {
  font-size: 0;
  background-color: #b5b9be;
  width: 2px;
  height: 2px;
  padding: 1px;
  margin: auto;
  border: 1px #b5b9be solid;
  border-radius: 50%;
  vertical-align: top;
  align-items: center;
  align-content: center;
  cursor: pointer;

  &:hover {
    border: 3px #283645 solid;
    border-radius: 50%;
    padding: 2px;
    background-color: #ffffff;
    width: 2px;
    height: 2px;
  }
}

.review_slider--active {
  border: 3px #283645 solid;
  border-radius: 50%;
  padding: 2px;
  background-color: #ffffff;
  width: 2px;
  height: 2px;
}

.review_slider-label ~ .review_slider-input:checked {
  border: 3px #56616c solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

@media (min-width: $tablet-width) {
  .review {
    width: 660px;
    padding: 34px 0 50px;
  }

  .review_wrapper {
    width: 660px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    margin-bottom: 14px;
  }

  .review_list {
    height: auto;
    margin-bottom: 4px;
  }

  .review_item {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-bottom: 20px;
  }

  .review_text {
    font-size: 18px;
    color: #283645;
    line-height: 30px;
    margin-bottom: 37px;
    padding: 0 12px;
  }

  .review_author {
    font-size: 20px;
    line-height: 30px;
    display: block;
  }

  .author_description {
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    font-weight: normal;
  }
}

@media (min-width: $desktop-width) {
  .review {
    width: 100%;
    height: auto;
  }

  .review_slider {
    position: relative;
    width: 960px;
    margin: 0 auto;
  }

  .review_wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 55px;
    position: relative;
    z-index: -1;
  }

  .review_author {
    font-size: 24px;
    line-height: 30px;
    display: block;
    margin-bottom: 18px;
  }

  .review_text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 37px;
    padding: 0 109px;
  }

  .review_item {
    height: 355px;
  }

  .review_item::before {
    content: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 44px;
    right: 438px;
    z-index: 11;
    width: 79px;
  }

  .author_description {
    display: block;
    font-size: 18px;
    line-height: 30px;
  }

  .review_slider-label {
    display: block;
    position: absolute;
    background-image: url("../img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    margin: 0;
    border: 0;
    height: 50px;
    width: 50px;
    bottom: 165px;
    right: -7px;
    transform: translateX(1%);
    z-index: 11;

    &:hover {
      border: 0;
      background-image: url("../img/icon-review-arrow-right-hover.svg");
    }

    &:active {
      background-image: url("../img/icon-review-arrow-right-hover.svg");
      opacity: 0.2;
    }
  }

  .review_slider_arrow--left {
    background-image: url("../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    background-color: transparent;
    border: 0;
    z-index: 11;

    &:hover {
      border: 0;
      background-image: url("../img/icon-review-arrow-left-hover.svg");
    }

    &:active {
      background-image: url("../img/icon-review-arrow-left-hover.svg");
      opacity: 0.2;
    }
  }
}

@import "variables.scss";
