.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.contacts_title {
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin: 0;
  padding-top: 44px;
  padding-bottom: 32px;
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
}

.contacts_inner {
  background-color: #ffffff;
  position: relative;
  z-index: 5;
  padding-bottom: 17px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.contacts_item {
  margin-bottom: 17px;
  text-align: center;
  padding: 0 7%;
}

.contacts_item-lead {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  font-style: normal;
  margin: 0;
}

.contacts_item-info {
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #d22856;
  font-style: normal;

  &:hover {
    color: #283645;
    border-bottom: 1px #283645 solid;
  }

  &:active {
    color: #283645;
    border-bottom: 1px #283645 solid;
    opacity: 0.5;
  }
}

.contacts_triangle {
  width: 320px;
  height: 67px;
  position: absolute;
}

.contacts-map {
  width: 100%;
  height: 200px;
  border: 0;
  display: block;
  position: relative;
  margin: 0 auto;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  z-index: 1;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

.contacts::after {
  content: "";
  background-image: url("../img/bg-triangle-white-footer.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 127px;
  width: 100%;
  z-index: 11;
  height: 73px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 46px;
    margin: 0 auto;
  }

  .contacts_title {
    font-weight: lighter;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #283645;
    width: 430px;
    margin: 0 auto;
    padding: 0 0 36px;
  }

  .contacts_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 630px;
    margin: 0 auto;
  }

  .contacts_item {
    padding: 0;
    margin-bottom: 46px;
    margin-left: 18px;
  }

  .contacts_item--email {
    margin-left: 30px;
  }

  .contacts_item--address {
    padding: 0;
    margin: 0;
    margin-bottom: 11px;
    width: 250px;
  }

  .contacts-map {
    width: 100%;
    height: 378px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  .contacts::after {
    bottom: 306px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 65px;
  }

  .contacts_title {
    font-size: 50px;
    width: 480px;
    margin: 0 auto;
    padding: 0 0 39px;
    line-height: 55px;
  }

  .contacts_inner {
    width: 940px;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
    padding: 22px 0 13px;
    box-sizing: border-box;
  }

  .contacts_item {
    padding: 0;
    margin: 0;
    width: 250px;
  }

  .contacts_item-lead {
    margin-bottom: 20px;
    margin-left: 8px;
  }

  .contacts_item-info-address {
    padding: 0;
    width: 228px;
  }

  .contacts_item:first-child {
    order: 1;
    margin-right: 24px;
  }

  .contacts_item:nth-child(2) {
    order: 3;
    margin-left: 27px;
  }

  .contacts_item:last-child {
    order: 2;
    text-align: center;
  }

  .contacts-map {
    width: 100%;
    height: 493px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }

  .contacts::after {
    background-size: 100% 107px;
    bottom: 237px;
    height: 256px;
  }
}

@import "variables.scss";
