.tariff {
  background-color: #f2f2f2;
  padding: 40px 0 46px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.tariff_wrapper {
  overflow: hidden;
  margin-bottom: 41px;
}

.tariff::before {
  content: "";
  position: absolute;
  top: -79px;
  right: 0;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 79px;
  transform: rotate(180deg);
  z-index: 5;
}

.tariff_table {
  margin: 0 auto;
  transform: translateX(-31%);
  border-collapse: collapse;
}

.tariff_item {
  margin: 0;
  background-color: #ffffff;
  border: 3px #f2f2f2 solid;
  border-collapse: collapse;
  padding: 14px 0;
  padding-left: 24px;
  text-transform: uppercase;
  position: relative;
}

.tariff_header {
  margin: 0;
  padding: 0;
  background-color: #283645;
  border: 3px #f2f2f2 solid;
}

.tariff_name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
  width: 278px;
  padding-top: 16px;
  text-transform: uppercase;
}

.tariff_header--flag {
  position: relative;
}

.tariff_header--flag::before {
  content: "";
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  width: 74px;
  height: 74px;
  top: 0;
  left: 0;
  z-index: 4;
}

.tariff_header--flag::after {
  content: "Хит";
  position: absolute;
  width: 74px;
  height: 74px;
  top: 7px;
  left: 0;
  transform: rotate(-48deg) translateX(10%);
  z-index: 5;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  font-weight: lighter;
  text-transform: uppercase;
}

.tariff_price {
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
  padding-bottom: 23px;
}

.tariff_feature {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.tariff_feature-status--on {
  color: transparent;
  background-image: url("../img/icon-yes-table.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tariff_feature-status--off {
  color: transparent;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tariff_item--feature-title {
  display: none;
}

.tariff_features-header {
  display: none;
}

.tariff_toggle-input {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.tariff_toggles {
  display: flex;
  justify-content: space-between;
  width: 78px;
  height: 12px;
  margin: 0 auto;
}

.tariff_toggle-label {
  font-size: 0;
  background-color: #b5b9be;
  width: 2px;
  height: 2px;
  padding: 1px;
  margin: auto;
  border: 1px #b5b9be solid;
  border-radius: 50%;
  vertical-align: top;
  align-items: center;
  align-content: center;
  cursor: pointer;

  &:hover {
    border: 3px #283645 solid;
    border-radius: 50%;
    padding: 2px;
    background-color: #ffffff;
    width: 2px;
    height: 2px;
  }
}

.tariff_toggle-label--active {
  border: 3px #283645 solid;
  border-radius: 50%;
  padding: 2px;
  background-color: #ffffff;
  width: 2px;
  height: 2px;
}

@media (min-width: $tablet-width) {
  .tariff {
    padding: 40px 0 30px;
    background-color: #f2f2f2;
    width: 100%;
    margin: 0 auto;
  }

  .tariff::before {
    width: 100%;
    top: -63px;
  }

  .tariff_table {
    margin: 0 auto;
    transform: none;
  }

  .tariff_toggles {
    display: none;
  }

  .tariff_toggle-input {
    display: none;
  }

  .tariff_item {
    background-color: #ffffff;
    border: 1px #f2f2f2 solid;
    border-collapse: collapse;
    font-size: 14px;
    position: relative;
  }

  .tariff_item--feature-title {
    padding: 7px 34px 7px 15px;
    display: block;
  }

  .tariff_feature--name {
    display: none;
  }

  .tariff_header {
    background-color: #283645;
  }

  .tariff_name {
    border-collapse: collapse;
    width: 153px;
    font-size: 16px;
    padding: 9px 0 0 0;
  }

  .tariff_feature {
    text-transform: none;
  }

  .tariff_price {
    border-collapse: collapse;
    font-size: 16px;
    padding: 0 2px 10px 2px;
  }

  .tariff_features-header {
    display: block;
  }

  .tariff_header--flag {
    position: relative;
  }

  .tariff_header--flag::before {
    content: "";
    background-image: url("../img/bg-hit-tablet.svg");
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .tariff_header--flag::after {
    content: "ХИТ";
    position: absolute;
    width: 60px;
    height: 60px;
    top: -21px;
    left: 23px;
    transform: rotate(-46deg) translateX(-50%);
    z-index: 5;
  }

  .tariff_feature-status--on {
    content: "";
    color: transparent;
    background-color: transparent;
    background-image: url("../img/icon-yes-table.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    width: 34px;
    position: absolute;
    top: 7px;
    right: 61px;
  }

  .tariff_feature-status--off {
    content: "";
    color: transparent;
    background-color: transparent;
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    width: 25px;
    position: absolute;
    top: -1px;
    right: 65px;
  }

  .tariff_toggle-input:checked ~ .tariff_header {
    transform: none;
  }

  .tariff_toggle-input:checked + .tariff_header {
    transform: none;
  }

  .tariff_toggle-input:checked ~ .tariff_item {
    transform: none;
  }

  .tariff_toggle-input:checked + .tariff_item {
    transform: none;
  }
}

@media (min-width: $desktop-width) {
  .tariff_wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .tariff::before {
    height: 167px;
    top: -158px;
    background-size: 2200px;
  }

  .tariff_table {
    transform: none;
  }

  .tariff_name {
    margin: 0;
    font-size: 18px;
    padding: 15px 18px 0 4px;
    width: auto;
    text-transform: uppercase;
  }

  .tariff_price {
    font-size: 24px;
    line-height: 30px;
    font-weight: lighter;
    margin: 0;
    padding: 0 16px 21px 8px;
    width: auto;
    text-transform: uppercase;
  }

  .tariff_item {
    padding: 15px 73px;
  }

  .tariff_feature {
    font-size: 18px;
    line-height: 30px;
  }

  .tariff_item--feature-title {
    font-weight: normal;
    padding: 15px 84px 15px 30px;
    font-size: 18px;
    line-height: 30px;
    text-transform: none;
  }

  .tariff_feature-status--on {
    margin: 0;
  }

  .tariff_feature-status--off {
    margin: 0;
  }
}

@import "variables.scss";
