.main-footer {
  display: none;
}

.page-footer_logo {
  padding-top: 32px;
  width: 147px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.page-footer_social {
  width: 180px;
  margin: 0 auto;
}

.page-footer_copyright {
  width: 140px;
  margin: 0 auto;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .main-footer {
    display: block;
    position: relative;
    z-index: 11;
    background-color: #ffffff;
  }

  .photo_footer {
    padding-top: 10px;
  }

  .page-footer_wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }

  .page-footer_logo {
    margin: 0;
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
    width: 168px;
  }

  .page-footer_copyright {
    margin: 0;
    margin-left: auto;
    height: 40px;
    width: 121px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 44px 0 27px;
  }

  .page-footer_form {
    padding: 31px 0 27px;
  }

  .photo_footer {
    padding: 70px 0 27px;
  }

  .page-footer_wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .page-footer_logo {
    margin: 0;
    margin-right: auto;
    width: 320px;
  }

  .page-footer_copyright {
    margin: 0;
    margin-left: auto;
    width: 320px;
    display: flex;
    justify-content: flex-end;
    height: 40px;
  }
}

@import "variables.scss";
