.panorama-of-the-day {
  margin: 0 auto;
  padding: 0;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
}

.panorama-of-the-day_photo {
  width: 100%;
}

.panorama-of-the-day_logo {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #d22856;
  width: 140px;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 9px;
  margin: 0;
  margin-right: 7%;
  position: absolute;
  top: 0;
  right: 0;
}

.panorama-of-the-day_block {
  transform: translateY(-3%);
}

@media (min-width: $tablet-width) {
  .panorama-of-the-day {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 44px;
  }

  .panorama-of-the-day_photo {
    width: 100%;
    height: 507px;
  }

  .panorama-of-the-day_logo {
    top: 53px;
    margin-right: 3%;
  }

  .panorama-of-the-day_block {
    width: 620px;
    padding: 22px 0;
    transform: translateY(-5%);
  }

  .panorama-of-the-day_name {
    margin-left: 5%;
  }

  .panorama-of-the-day_user-text {
    padding: 0 22px 0 32px;
    height: auto;
  }

  .panorama-of-the-day_user-like {
    position: absolute;
    margin: 0;
    top: 23px;
    right: 59px;
  }

  .panorama-of-the-day_heart {
    background-image: url("../img/icon-heart.svg");
    position: absolute;
    top: 30px;
    left: 579px;
    width: 16px;
    height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .panorama-of-the-day {
    margin-bottom: 48px;
  }

  .panorama-of-the-day_photo {
    width: 100%;
  }

  .panorama-of-the-day_logo {
    margin-right: 2%;
  }

  .panorama-of-the-day_block {
    width: 939px;
    margin: 0 auto;
    position: relative;
    transform: translateY(2%);
    padding-bottom: 17px;
  }

  .panorama-of-the-day_link {
    height: 507px;
  }

  .panorama-of-the-day_name {
    margin-left: 4%;
  }

  .panorama-of-the-day_user-block {
    margin-left: 3%;
  }

  .panorama-of-the-day_user-text {
    padding: 0 38px;
    height: auto;
  }

  .panorama-of-the-day_user-like {
    position: absolute;
    top: 22px;
    right: 53px;
  }

  .panorama-of-the-day_heart {
    top: 27px;
    left: 905px;
  }
}

@import "variables.scss";
