.panorama-of-the-day {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.panorama-of-the-day_photo {
  width: 100%;
}


.panorama-of-the-day_logo {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #d22856;
  width: 140px;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 9px;
  margin: 0;
  margin-right: 7%;
  position: absolute;
  top: 0;
  right: 0;
}

.panorama-of-the-day_block {
  transform: translateY(-3%);
}

@media (min-width: $tablet-width) {
  .panorama-of-the-day {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
  }

  .panorama-of-the-day_photo {
    width: 100%;
    height: 510px;
  }

  .panorama-of-the-day_logo {
    top: 53px;
    margin-right: 3%;
  }

  .panorama-of-the-day_block {
    width: 620px;
    padding: 22px 0;
    transform: translateY(-5%);
  }

  .user-block_heart-panorama {
    background-image: url("../img/icon-heart.svg");
    position: absolute;
    top: 30px;
    left: 577px;
    width: 16px;
    height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .user-block_text {
    height: 58px;
    padding: 0 27px;
  }

  .panorama-of-the-day {
    margin-bottom: 48px;
  }

  .panorama-of-the-day_photo {
    width: 100%;
  }

  .panorama-of-the-day_logo {
    margin-right: 1%;
  }

  .panorama-of-the-day_block {
    width: 939px;
    margin: 0 auto;
    position: relative;
    transform: translateY(2%);
    padding-bottom: 17px;
  }

  .user-photo_link_panorama {
    height: 509px;
  }

  .user-block_name-panorama {
    margin-left: 3%;
  }

  .user-block_text-panorama {
    padding: 0 25px;
    height: auto;
  }

  .user-block_like-panorama {
    position: absolute;
    top: 19px;
    right: 65px;
  }

  .user-block_heart-panorama {
    top: 27px;
    left: 895px;
  }
}

@import "variables.scss";
