.panorama-of-the-day {
  margin: 0 auto;
  padding: 0;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
}

.panorama-of-the-day_photo {
  width: 100%;
}

.panorama-of-the-day_logo {
  font-family: $opensans;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  color: $white;
  background-color: $pink;
  width: 140px;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 9px;
  margin: 0;
  margin-right: 7%;
  position: absolute;
  top: 0;
  right: 0;
}

.panorama-of-the-day_block {
  transform: translateY(-3%);
  display: flex;
  flex-wrap: wrap;
}

.panorama-of-the-day_like-wrapper {
  order: 4;
  width: 200px;
  display: flex;
}

@media (min-width: $tablet-width) {
  .panorama-of-the-day {
    margin-bottom: 45px;
  }

  .panorama-of-the-day_photo {
    width: 100%;
    height: 507px;
  }

  .panorama-of-the-day_logo {
    top: 53px;
    margin-right: 3%;
  }

  .panorama-of-the-day_block {
    width: 620px;
    padding: 23px 0 12px;
    transform: translateY(-5%);
  }

  .panorama-of-the-day_name {
    margin-left: 28px;
  }

  .panorama-of-the-day_user-text {
    padding: 0 22px 0 28px;
    height: auto;
    order: 5;
  }

  .panorama-of-the-day_like-wrapper {
    order: 3;
    margin-left: auto;
    width: 148px;
    padding-top: 8px;
  }

  .panorama-of-the-day_user-like {
    margin: 0;
    order: 3;
  }

  .panorama-of-the-day_heart {
    background-image: url("../img/icon-heart.svg");
    width: 16px;
    height: 16px;
    padding: 0;
    order: 4;
    margin-left: 10%;
  }
}

@media (min-width: $desktop-width) {
  .panorama-of-the-day {
    margin-bottom: 52px;
  }

  .panorama-of-the-day_photo {
    width: 100%;
  }

  .panorama-of-the-day_logo {
    margin-right: 1%;
  }

  .panorama-of-the-day_block {
    width: 940px;
    margin: 0 auto;
    transform: translateY(1%);
    padding-bottom: 15px;
  }

  .panorama-of-the-day_link {
    height: 507px;
  }

  .panorama-of-the-day_name {
    margin-left: 31px;
  }

  .panorama-of-the-day_user-block {
    margin-left: 3%;
  }

  .panorama-of-the-day_user-text {
    padding: 0 29px;
    height: auto;
  }

  .panorama-of-the-day_like-wrapper {
    padding-top: 5px;
  }
}

@import "variables.scss";
