.photo-header_title {
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  padding: 27px 50px 78px;
  margin: 0;
}

.photo_user-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 47px 38px;
  color: #283645;
}

@media (min-width: $tablet-width) {
  .photo-header_title {
    font-weight: lighter;
    font-size: 50px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin: 0 auto;
    width: 358px;
    padding-top: 57px;
    padding-bottom: 137px;
  }

  .photo_user-description {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding-left: 110px;
    padding-right: 104px;
    padding-top: 95px;
    padding-bottom: 74px;
    color: #283645;
  }
}

@media (min-width: $desktop-width) {
  .photo-header_title {
    width: 355px;
    margin: 0 auto;
    padding-top: 54px;
    padding-bottom: 90px;
  }

  .photo_user-description {
    padding: 98px 19% 92px 19%;
    line-height: 27px;
    color: #283645;
    width: 576px;
    margin: 0 auto;
  }
}

@import "variables.scss";
