.social_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 31px;
}

.social_item {
  border: 3px #e9ebec solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  padding: 10px;

  &:hover {
    border-color: #283645;
  }

  &:active {
    opacity: 0.5;
  }
}

.social_link {
  display: flex;
  justify-content: space-around;
  padding: 4px;
  align-items: center;
  align-content: center;
  fill: #d22856;
}

.social_link--facebook {
  padding: 3px 7px;
}

.social_link--youtube {
  padding: 6px 6px;
}

@media (min-width: $tablet-width) {
  .social_list {
    margin: 0 auto;
    width: 177px;
    display: flex;
    justify-content: space-between;
  }
}

@import "variables.scss";
