.form_heading {
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  padding: 97px 44px 50px;
  margin: 0;
}

.form_header--background {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #243141;
  background-size: cover;
  background-repeat: no-repeat;
  height: 242px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }
}

.contest_description {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  padding: 45px 20px 35px 20px;
}

.contest_description_invitation {
  display: none;
}

.form_field {
  display: flex;
  flex-direction: column;
  padding-bottom: 23px;
}

.form_text-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  padding-left: 13%;
  margin-bottom: 6px;
}

.form_text-input {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  width: 80%;
  margin: 0 auto;
  height: 58px;
  padding-left: 22px;
  border: 2px #f2f2f2 solid;
}

.form_field-text--fullname {
  margin-bottom: 16px;
}

.form_field-text {
  display: flex;
  flex-direction: column;
}

.form_fieldset {
  margin: 0;
  padding: 0;
}

.form_fieldset--achievements {
  background-color: #f2f2f2;
  border: none;
}

.form_title {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 40px 22px;
}

.form_title--achievements {
  padding: 38px 13% 20px;
  line-height: 18px;
  background-color: #f2f2f2;
}

.form_checkbox-label {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  position: relative;
  margin-left: 25%;
  padding: 26px 0;
}

.form_checkbox-input {
  display: none;
}

.form_checkbox-input ~ .form_checkbox-label::before {
  content: "";
  position: absolute;
  border: 2px #e5e5e5 solid;
  background-color: #ffffff;
  width: 34px;
  height: 34px;
  top: 18px;
  left: -62px;
}

.form_checkbox-input:checked ~ .form_checkbox-label::before {
  content: "";
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
  position: absolute;
  border: 2px #e5e5e5 solid;
  background-color: #ffffff;
  width: 34px;
  height: 34px;
  top: 18px;
  left: -62px;
}

.form_fieldset--contacts {
  padding-top: 41px;
  border: none;
}

.form_text-input--contacts {
  margin: 0 5%;
}

.form_fieldset--apps {
  background-color: #f2f2f2;
  border: none;
}

.form_title--apps {
  padding: 38px 13% 20px;
  line-height: 18px;
  background-color: #f2f2f2;
}

.form_fieldset--emotions {
  border: none;
}

.form_radio-input {
  display: none;
}

.form_radio-label {
  font-size: 18px;
  line-height: 30px;
  display: block;
  position: relative;
  margin-left: 28%;
  padding: 22px 0;
}

.form_radio-input ~ .form_radio-label::before {
  content: "";
  position: absolute;
  border: 2px #e5e5e5 solid;
  border-radius: 50%;
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  top: 15px;
  left: -71px;
}

.form_radio-input:checked ~ .form_radio-label::before {
  content: "";
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  position: absolute;
  border: 2px #e5e5e5 solid;
  border-radius: 50%;
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  top: 15px;
  left: -71px;
}

.form_field-text--contacts {
  margin-bottom: 17px;
}

.form_fieldset-inner {
  width: 100%;
  padding-bottom: 20px;
}

.form_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form_submit-button {
  border: 0;
  width: 280px;
  margin: 0 auto;
  padding: 17px 0;
  background-color: #2aab6d;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 35px;
}

.form_note {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  text-transform: uppercase;
}

.form_note-symbol {
  color: #d22856;
  text-transform: uppercase;
}

.form_title--contacts {
  display: none;
}

.form_title--emotions {
  padding: 30px 22px 10px;
}

.form_textarea--emotions {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  display: flex;
  width: 275px;
  height: 182px;
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 30px;
}

.form_note-symbol--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .form_header--background {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
    height: 393px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px;
    }
  }

  .form_heading {
    font-weight: lighter;
    font-size: 50px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin: 0;
    padding-left: 95px;
    padding-right: 90px;
    padding-top: 127px;
    padding-bottom: 80px;
  }

  .contest_description {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding-left: 82px;
    padding-right: 82px;
    padding-top: 92px;
    padding-bottom: 56px;
    color: #283645;
  }

  .contest_description_invitation {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0;
  }

  .form_fieldset_wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .form_footer {
    width: 626px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 57px;
  }

  .form_field-text {
    display: flex;
    flex-direction: row;
  }

  .form_field {
    padding: 10px 3%;
  }

  .form_text-label {
    margin: 0;
    padding-top: 16px;
    padding-left: 0;
  }

  .form_text-input {
    margin: 0;
    margin-left: auto;
  }

  .form_field-text--fullname {
    margin-bottom: 53px;
  }

  .form_fieldset--apps {
    background-color: #ffffff;
    padding: 50px 20px;
  }

  .form_radio-label {
    margin-left: 19%;
    padding: 25px 0;
  }

  .form_radio-input ~ .form_radio-label::before {
    top: 23px;
    left: -61px;
  }

  .form_radio-input:checked ~ .form_radio-label::before {
    top: 23px;
    left: -61px;
  }

  .form_title--contacts {
    display: inline;
    padding: 31px 22px;
  }

  .form_text-label--contacts {
    padding-left: 28px;
    padding-top: 6px;
  }

  .form_text-fields--contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form_field-text--contacts {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .form_text-input--contacts {
    width: 474px;
    height: 57px;
  }

  .form_fieldset--achievements {
    background-color: #ffffff;
  }

  .form_checkbox-label {
    margin-left: 20%;
  }

  .form_checkbox-input ~ .form_checkbox-label::before {
    top: 23px;
  }

  .form_checkbox-input:checked ~ .form_checkbox-label::before {
    top: 23px;
  }

  .form_submit-button {
    margin: 0;
    width: 289px;
  }

  .form_textarea--emotions {
    color: #283645;
    text-align: center;
    display: flex;
    width: 494px;
    height: 189px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form_heading {
    padding-top: 167px;
  }

  .form_header--background {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .contest_block {
    width: 960px;
    margin: 0 auto;
  }

  .contest_description {
    padding-right: 35px;
    padding-left: 35px;
  }

  .contest_description_invitation {
    display: inline;
  }

  .form_field {
    width: 480px;
    margin: 0;
  }

  .form_fieldset--apps {
    width: 480px;
    margin: 0;
  }

  .form_fieldset--contacts {
    width: 960px;
    display: flex;
    flex-direction: row;
  }

  .form_checkbox-fields--achievements {
    display: flex;
    justify-content: space-around;
  }

  .form_fieldset-inner {
    padding-top: 22px;
  }

  .form_textarea--emotions {
    width: 814px;
  }

  .form_footer {
    width: 940px;
  }

  .form_note-symbol--desktop {
    display: inline;
  }
}

@import "variables.scss";
