.contest_description {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  padding: 45px 20px 30px 20px;
}

.form_field {
  display: flex;
  flex-direction: column;
}

.form_text-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}

.form_text-input {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.form_fieldset {
  border: none;
}

.form_title {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.form_checkbox-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;
}
