.effect {
  display: none;
}

.description_header {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #283645;
  margin: 0;
  margin-bottom: 25px;
}

.description_text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #283645;
  margin: 0;
  margin-bottom: 20px;
}

.description_link {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #d22856;
  border-bottom: 1px #d22856 solid;
}

@media (min-width: $tablet-width) {
  .effect {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 100px;
  }

  .effect_background {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .timer {
    font-size: 96px;
    line-height: 170px;
    font-weight: bold;
    color: #d22856;
    text-align: center;
    position: relative;
    z-index: 10;
    border: 15px #d22856 solid;
    border-radius: 50%;
    height: 190px;
    width: 190px;
  }

  /*.timer::before {
    content: "";
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
  }*/
}

@media (min-width: $desktop-width) {
  .effect {
    padding-bottom: 70px;
  }
}

@import "variables.scss";
