.effect {
  display: none;
}

.description_header {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #283645;
  margin: 0;
  margin-bottom: 25px;
}

.description_text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #283645;
  margin: 0;
  margin-bottom: 20px;
}

.description_link {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #d22856;
  border-bottom: 1px #d22856 solid;
}

@media (min-width: $tablet-width) {
  .effect {
    display: flex;
    justify-content: space-around;
    width: 660px;
    padding-top: 95px;
    margin-bottom: 56px;
  }

  .effect_description {
    width: 330px;
    margin-right: auto;
  }

  .effect_background {
    display: flex;
    justify-content: space-around;
    width: 330px;
    margin-left: auto;
    position: relative;
    transform: translateX(-8%) translateY(4%);
  }

  .effect_background::before {
    content: "";
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 237px;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 153%;
    z-index: 5;
    top: -68px;
    right: 0;
  }

  .description_header {
    margin-bottom: 12px;
  }

  .description_text {
    padding-right: 32px;
    text-align: left;
    margin-bottom: 10px;
  }

  .timer {
    font-size: 95px;
    line-height: 209px;
    font-weight: bold;
    color: #d22856;
    text-align: center;
    position: relative;
    z-index: 10;
  }

  .timer::before {
    content: "";
    background-position: center;
    position: absolute;
    border: 15px #d22856 solid;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    background-color: transparent;
    top: 14px;
    right: -46px;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    padding-bottom: 104px;
    margin: 0;
    background-color: #f2f2f2;
    width: 100%;
    padding-top: 83px;
  }

  .description_wrap {
    display: none;
  }

  .effect_background {
    width: 351px;
    margin-left: auto;
  }

  .effect_background::before {
    background-size: 283px;
    background-position: center;
    position: absolute;
    height: 165%;
    top: -96px;
    right: 12px;
  }

  .effect_description {
    width: 561px;
    margin-right: auto;
  }

  .description_header {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .description_text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .description_link {
    font-size: 18px;
    line-height: 30px;
  }

  .timer {
    font-size: 120px;
    line-height: 186px;
    transform: translateX(-8%);
  }

  .timer::before {
    height: 200px;
    width: 200px;
    background-color: transparent;
    top: -21px;
    right: -49px;
  }
}

@import "variables.scss";
