.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.contacts_title {
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin: 0;
  padding-top: 47px;
  padding-bottom: 35px;
  background-color: #ffffff;
}

.contacts_inner {
  background-color: #ffffff;
  position: relative;
  z-index: 5;
}

.contacts_item {
  margin-bottom: 14px;
  text-align: center;
  padding: 0 8%;
}

.contacts_item-lead {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  font-style: normal;
  margin: 0;
}

.contacts_item-info {
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #d22856;
  font-style: normal;

  &:hover {
    color: #283645;
    border-bottom: 1px #283645 solid;
  }

  &:active {
    color: #283645;
    border-bottom: 1px #283645 solid;
    opacity: 0.5;
  }
}

.contacts-map {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  margin: 0 auto;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  z-index: 1;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

.contacts::after {
  content: "";
  background-image: url("../img/bg-triangle-white-footer.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 127px;
  width: 100%;
  z-index: 11;
  height: 71px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 38px;
    margin: 0 auto;
  }

  .contacts_title {
    font-weight: lighter;
    font-size: 40px;
    line-height: normal;
    text-align: center;
    color: #283645;
    margin: 0;
    padding: 0 20% 30px;
  }

  .contacts_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts_item {
    margin-bottom: 46px;
  }

  .contacts_item--address {
    padding: 0 34%;
  }

  .contacts-map {
    width: 100%;
    height: 378px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .contacts::after {
    bottom: 306px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 58px;
  }

  .contacts_title {
    font-size: 50px;
    padding: 0 25%;
  }

  .contacts_inner {
    width: 855px;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
    padding: 41px 0;
    box-sizing: border-box;
  }

  .contacts_item {
    padding: 0;
  }

  .contacts_item-lead {
    margin-bottom: 20px;
  }

  .contacts_item-info-address {
    padding: 0 20px;
    width: 228px;
  }

  .contacts_item:first-child {
    order: 1;
  }

  .contacts_item:nth-child(2) {
    order: 3;
  }

  .contacts_item:last-child {
    order: 2;
  }

  .contacts-map {
    width: 100%;
    height: 500px;
    background-image: url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  .contacts::after {
    bottom: 373px;
    height: 127px;
  }
}

@import "variables.scss";
