.main__header {
  margin: 0;
  padding: 0;
}

.main__header--background {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #243141;
}

.download-programm {
  background-color: #243141;
  color: #ffffff;
}

.download-programm ul {
  list-style: none;
}

.download-programm__link {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.download-programm__info {
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
