.advantages {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  position: relative;
}

.advantages_header {
  margin: 0;
  font-size: 24px;
  line-height: normal;
  font-weight: lighter;
  text-align: center;
  color: #283645;
  background-color: #ffffff;
  padding: 25px 50px;
}

.advantages_list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 53px;
  padding-bottom: 320px;
  position: relative;
}

.advantages_list::before {
  content: "";
  position: absolute;
  top: -25px;
  right: 0;
  border: 25px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 660px solid #f2f2f2;
}

.advantages_item {
  margin-bottom: 25px;
  padding: 0 20px;
}

.advantage_title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 10px;
  font-weight: bold;
  margin-bottom: 16px;
}

.advantage_description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

.advantages_iphone {
  position: absolute;
  bottom: -31px;
  transform: translateX(50%);
  z-index: 0;
}

@media (min-width: $tablet-width) {
  .advantages_header {
    &:nth-child(2) {
      padding-bottom: 0;
    }

    &:nth-child(3) {
      padding-top: 0;
      padding-left: 32%;
      padding-right: 32%;
    }
  }

  .advantages_list_wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .advantages_list {
    margin: 0;
    width: 330px;
    padding-bottom: 0;
    text-align: left;
  }

  .advantages_iphone {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(84%);
    z-index: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages_header {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: normal;
    font-weight: lighter;
    text-align: center;
    color: #283645;
    background-color: #ffffff;
  }

  .advantages_list_wrapper {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .advantages_list {
    display: flex;
  }
}

@import "variables.scss";
