.tariff {
  background-color: #f2f2f2;
  padding: 40px 0 46px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.tariff_wrapper {
  overflow: hidden;
  margin-bottom: 35px;
}

.tariff::before {
  content: "";
  position: absolute;
  top: -24px;
  right: 0;
  border: 25px solid transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 660px solid #f2f2f2;
  z-index: 12;
}

.tariff_table {
  margin: 0 auto;
}

.tariff_item {
  margin: 0;
  background-color: #ffffff;
  border: 1px #e5e5e5 solid;
  border-collapse: collapse;
  padding: 14px 0;
  padding-left: 24px;
  text-transform: uppercase;
}

.tariff_header {
  margin: 0;
  padding: 0;
  background-color: #283645;
}

.tariff_name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
  width: 287px;
  padding-top: 10px;
}

.tariff_header--flag {
  position: relative;
}

.tariff_flag--img::after {
  content: "";
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  width: 74px;
  height: 74px;
  top: 24px;
  left: 0;
  transform: rotate(48deg) translateX(-48%);
  z-index: -1;
}

.tariff_price {
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
}

.tariff_flag {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  content: "";
  background-color: transparent;
  position: absolute;
  top: 9px;
  left: 9px;
  text-transform: uppercase;
  transform: rotate(-48deg);
}

.tariff_feature {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.tariff_feature-status--on {
  color: transparent;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tariff_feature-status--off {
  color: transparent;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tariff_item--feature-title {
  display: none;
}

.tariff_features-header {
  display: none;
}

.tariff_toggle-input {
  opacity: 0;
}

.tariff_toggle-input:checked ~ .tariff_header {
  transform: translate3d(100%, 0, 0);
}

.tariff_toggle-input:checked + .tariff_header {
  transform: translate3d(0, 0, 0);
}

.tariff_toggle-input:checked ~ .tariff_item {
  transform: translate3d(100%, 0, 0);
}

.tariff_toggle-input:checked + .tariff_item {
  transform: translate3d(0, 0, 0);
}

.tariff_toggle-label {
  background-color: #b5b9be;
  width: 2px;
  height: 2px;
  padding: 1px;
  margin-left: 14px;
  border: 3px #b5b9be solid;
  border-radius: 50%;
  vertical-align: middle;
  align-items: center;
  align-content: center;

  &:hover {
    border: 3px #283645 solid;
    border-radius: 50%;
    padding: 2px;
    background-color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .tariff {
    padding: 40px 0 70px;
    background-color: #f2f2f2;
    width: 100%;
    margin: 0 auto;
  }

  .tariff::before {
    border: 55px solid transparent;
    border-bottom: 0;
    border-left: 0;
    top: -44px;
    border-right: 960px solid #f2f2f2;
  }

  .tariff_table {
    margin: 0 auto;
  }

  .tariff_toggles {
    display: none;
  }

  .tariff_toggle-input {
    display: none;
  }

  .tariff_item {
    background-color: #ffffff;
    border: 1px #e5e5e5 solid;
    border-collapse: collapse;
    padding: 7px 0 7px 42px;
    font-size: 14px;
  }

  .tariff_item--feature-title {
    padding: 7px 17px;
    display: block;
  }

  .tariff_feature--name {
    display: none;
  }

  .tariff_header {
    background-color: #283645;
  }

  .tariff_name {
    border-collapse: collapse;
    width: 155px;
    font-size: 16px;
    padding: 9px 0 0 0;
  }

  .tariff_price {
    border-collapse: collapse;
    font-size: 16px;
    padding: 0 2px 10px 2px;
  }

  .tariff_features-header {
    display: block;
  }

  .tariff_header--flag {
    position: relative;
  }

  .tariff_flag--img::after {
    content: "";
    background-image: url("../img/bg-hit-tablet.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 21px;
    left: 0;
    transform: rotate(48deg) translateX(-50%);
    z-index: -1;
  }

  .tariff_flag {
    content: "";
    background-color: transparent;
    position: absolute;
    top: 3px;
    left: 9px;
    text-transform: uppercase;
    transform: rotate(-48deg);
    z-index: 11;
  }

  .tariff_feature-status--on {
    color: transparent;
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .tariff_feature-status--off {
    color: transparent;
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .tariff_toggle-input:checked ~ .tariff_header {
    transform: none;
  }

  .tariff_toggle-input:checked + .tariff_header {
    transform: none;
  }

  .tariff_toggle-input:checked ~ .tariff_item {
    transform: none;
  }

  .tariff_toggle-input:checked + .tariff_item {
    transform: none;
  }
}

@media (min-width: $desktop-width) {
  .tariff_wrapper {
    width: 960px;
    margin: 0 auto;
  }

  .tariff::before {
    border-right: 2200px solid #f2f2f2;
    top: -53px;
  }

  .tariff_name {
    margin: 0;
    font-size: 18px;
    padding: 15px 18px 0 4px;
    width: auto;
    text-transform: uppercase;
  }

  .tariff_price {
    font-size: 24px;
    line-height: 30px;
    font-weight: lighter;
    margin: 0;
    padding: 0 16px 20px 8px;
    width: auto;
    text-transform: uppercase;
  }

  .tariff_item {
    padding: 15px 73px;
  }

  .tariff_feature {
    font-size: 18px;
    line-height: 30px;
  }

  .tariff_item--feature-title {
    font-weight: normal;
    padding: 15px 84px 15px 30px;
    font-size: 18px;
    line-height: 30px;
    text-transform: none;
  }

  .tariff_feature-status--on {
    margin: 0;
  }

  .tariff_feature-status--off {
    margin: 0;
  }
}

@import "variables.scss";
