.page-main__description {
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: #fff;
}

h1.page-main__description {
  padding: 0;
  margin: 0;
}

p.page-main__header {
  margin: 0;
}

.page-main__header {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.user-photo {
  padding: 0;
  margin: 0;
}

.panorama-of-the-day {
  margin: 0;
}

p.panorama-of-the-day__logo {
  margin: 0;
}

.panorama-of-the-day__logo {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background-color: #d22856;
  width: 140px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0;
}

.user-photo__user-block {
  margin: 0;
  background-color: #f2f2f2;
}

.user-block__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.user-block__timer {
  font-weight: lighter;
  font-size: 12px;
  line-height: 24px;
  color: #283645;
}

.user-block__text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.user-block__like {
  color: #d22856;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
}

.user-photo-list__item {
  margin: 0;
}

.user-photo__motivation {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  color: #283645;
}

h2.user-photo__motivation {
  margin: 0;
}
