.tariff {
  height: 382px;
}

.tariff_item {
  margin: 0;
  padding: 0;
}
   /*не понимаю с сеткой таблицы*/
.tariff_header {
  margin: 0;
  padding: 0;
}

.tariff_name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
}

.tariff_price {
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
}

.tariff_flag {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #d22856;
  margin: 0;
}

.tariff_feature {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}
