.advantages {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.advantages_header {
  margin: 0;
  font-size: 24px;
  line-height: normal;
  font-weight: lighter;
  text-align: center;
  color: #283645;
  background-color: #ffffff;
  padding: 25px 50px;
}

.advantages_list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 53px;
  position: relative;
}

.advantages_item {
  margin-bottom: 25px;
}

.advantage_title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 10px;
  font-weight: bold;
  margin-bottom: 16px;
}

.advantage_description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .advantages_list_wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .advantages_list {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages_header {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: normal;
    font-weight: lighter;
    text-align: center;
    color: #283645;
    background-color: #ffffff;
  }

  .advantages_list_wrapper {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .advantages_list {
    display: flex;
  }
}

@import "variables.scss";
