.review_list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-shrink: 1;
  padding-bottom: 35px;
}

.review {
  text-align: center;
  height: 443px;
  overflow: hidden;
}

.author_name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.author_review {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}
