.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.contacts_title {
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin: 0;
  padding-top: 47px;
  padding-bottom: 35px;
  background-color: #ffffff;
}

.contacts_inner {
  background-color: #ffffff;
  position: relative;
  z-index: 5;
}

.contacts_inner::after {
  content: "";
  background-image: url("bg-triangle-white-footer.svg");
  position: absolute;
  bottom: -35px;
  right: 0;
  width: 100%;
  outline: 1px red solid;
  z-index: 11;
  height: 35px;
}

.contacts_item {
  margin-bottom: 14px;
  text-align: center;
  padding: 0 8%;
}

.contacts_item-lead {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  font-style: normal;
  margin: 0;
}

.contacts_item-info {
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #d22856;
  font-style: normal;
}

.contacts-map {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
}

@media (min-width: $tablet-width) {
  .contacts_title {
    font-weight: lighter;
    font-size: 40px;
    line-height: normal;
    text-align: center;
    color: #283645;
    margin: 0;
    padding: 0 20% 30px;
  }

  .contacts_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts_item--address {
    padding: 0 34%;
  }

  .contacts-map {
    position: relative;
    z-index: 0;
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts_title {
    font-size: 50px;
    outline: 1px red solid;
    padding: 0 300px;
  }
}

@import "variables.scss";
