.review_list {
  list-style: none;
  margin: 0;
}

.review {
  text-align: center;
}

.author_name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.author_review {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}
