.main_header {
  padding: 0;
  width: 100%;
}

.main_header_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 110px;
  background-size: auto;
  height: 397px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-repeat: no-repeat;
    background-size: 260px;
  }
}

@media (min-width: $tablet-width) {
  .main_header {
    display: flex;
    flex-direction: row-reverse;
    width: 660px;
    margin: 0 auto;
    height: 619px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-repeat: no-repeat;
      background-size: 700px;
    }
  }

  .main_header_wrapper {
    margin: 0;
    width: inherit;
    height: inherit;
    background-image: none;
  }
}

@media (min-width: $desktop-width) {
  .main_header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position-x: -17%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    height: 745px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: 1054px;
      background-position-x: -17%;
      background-position-y: bottom;
    }
  }
}

@import "variables.scss";
