.page-header {
  background-color: #2b3848;
}

.main-nav {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list_item {
  padding: 23px 90px;
}

.site-list_link {
  color: #ffffff;
}
