.social_list {
  list-style: none;
}

.social_link path {
  fill: #d22856;
}

.copyright_link path {
  fill: #d22856;
}

.copyright_link svg {
  height: 40px;
  width: 26px;
}

.copyright_text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #283645;
}
