.logo {
  align-self: flex-start;
  padding: 17px;
  display: block;
}

.page-header {
  background-color: rgba(#1d2631, 0.7);
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 11;
}

.hidden-input {
  display: none;
}

.main-nav_wrapper {
  display: none;
}

.hidden-input:checked ~ .page-header .main-nav_wrapper {
  display: block;
}

.main-nav_toggle {
  cursor: pointer;
  user-select: none;
}

.main-nav_toggle::before {
  content: url("../img/icon-menu-burger.svg");
  position: absolute;
  height: 25px;
  width: 52px;
  top: 21px;
  right: 7px;
}

.hidden-input:checked ~ .page-header {
  position: relative;
  background-color: #1d2631;
}

.hidden-input:checked ~ .main {
  margin-top: -64px;
}

.hidden-input:checked ~ .photo_user {
  margin-top: -64px;
}

.hidden-input:checked ~ .form {
  margin-top: -64px;
}

.hidden-input:checked ~ .page-header .main-nav_toggle::before {
  content: url("../img/icon-menu-cross.svg");
  position: absolute;
  height: 25px;
  width: 52px;
}

.main-nav {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list_link {
  color: #ffffff;

  &:hover {
    color: #d22856;
  }

  &:active {
    opacity: 0.5;
  }
}

.site-list_item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px #000000 solid;
}

.site-list_item:first-child {
  border-top: 1px #000000 solid;
}

@media (min-width: 660px) {
  .logo_image {
    width: 150px;
    height: 45px;
  }

  .logo {
    align-self: flex-start;
    padding: 30px 17px;
  }

  .page-header__logo {
    height: 111px;
    position: relative;
  }

  .main-nav_toggle::before {
    top: 44px;
    right: 5px;
  }
}

@media (min-width: 960px) {
  .page-header {
    display: flex;
    flex-direction: row;
    background-color: rgba(#1d2631, 0.5);
    width: 100%;
  }

  .page-header__wrapper {
    display: flex;
    width: 960px;
    margin: 0 auto;
  }

  .page-header_logo {
    padding: 25px 6px;
  }

  .logo_image {
    padding: 0;
    margin-left: 0;
  }

  .main-nav {
    margin: 0;
  }

  .main-nav_wrapper {
    display: block;
  }

  .hidden-input:checked {
    display: none;
  }

  .hidden-input {
    display: none;
  }

  .site-list {
    display: flex;
    width: 700px;
    margin-left: 18%;
  }

  .main-nav_toggle {
    display: none;
  }

  .site-list_item {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    text-transform: none;
    margin: 0 auto;
    border: 0;
    padding: 46px 35px;
  }

  .site-list_link--active {
    border-bottom: 1px #ffffff solid;
    padding-bottom: 10px;
  }

  .site-list_link {
    &:hover {
      color: #d22856;
    }

    &:active {
      color: #7f858c;
    }
  }
}

@import "variables.scss";
