.photo_title {
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  padding: 100px 50px 82px;
  margin: 0;
}

.photo_header--background {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #243141;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 238px;
}

.photo_description {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 53px 38px;
  color: #283645;
}

.page-photo_header {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.user-photo {
  padding: 0;
  margin: 0 auto;
}

.panorama-of-the-day {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
}

.panorama-of-the-day_photo {
  width: 100%;
}

.panorama-of-the-day_logo {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #d22856;
  width: 140px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.user-photo_user-block {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.user-photo-image {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.user-block_name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.user-block_timer {
  font-weight: lighter;
  font-size: 12px;
  line-height: 24px;
  color: #283645;
}

.user-block_text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.user-block_like {
  color: #d22856;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  position: relative;
  margin-left: 49px;
}

.user-block_like::before {
  content: "";
  background-image: url("../img/icon-heart.svg");
  position: absolute;
  top: 2px;
  left: -28px;
  width: 12px;
  height: 12px;
}

.user-photo-list_item {
  margin: 0;
  margin-bottom: 20px;
}

.user-photo_motivation {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  color: #283645;
  margin: 0;
  padding: 50px 20px;
}

@media (min-width: $tablet-width) {
  .photo_header--background {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 443px;
  }

  .photo_title {
    font-weight: lighter;
    font-size: 50px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin: 0;
    padding-left: 155px;
    padding-right: 155px;
    padding-top: 172px;
    padding-bottom: 135px;
  }

  .photo_description {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding-left: 110px;
    padding-right: 104px;
    padding-top: 95px;
    padding-bottom: 78px;
    color: #283645;
  }

  .panorama-of-the-day {
    display: flex;
    flex-wrap: wrap;
  }

  .panorama-of-the-day_photo {
    width: 100%;
  }

  .panorama-of-the-day_logo {
    top: 65px;
    margin-right: 3%;
  }

  .user-photo_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }

  .user-photo-image {
    padding: 0;
  }

  .user-photo-list_item {
    height: 450px;
    width: 300px;
    margin: 0 auto;
  }

  .user-photo_motivation {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
    color: #283645;
    margin: 0;
    padding: 0 95px;
  }

  .user-block_like {
    margin: 0;
  }

  .user-block_like::before {
    display: none;
  }

  .user-block_like::after {
    content: "";
    background-image: url("../img/icon-heart.svg");
    position: absolute;
    top: 2px;
    right: -187px;
    width: 12px;
    height: 12px;
  }
}

@media (min-width: $desktop-width) {
  .photo_header--background {
    width: 100%;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    height: 393px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
  }

  .photo_title {
    padding-left: 415px;
    padding-right: 415px;
    padding-top: 168px;
    padding-bottom: 89px;
  }

  .photo_description {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 100px;
    padding-bottom: 82px;
    color: #283645;
  }

  .panorama-of-the-day_photo {
    width: 100%;
  }

  .panorama-of-the-day_block {
    width: 850px;
    margin: 0 auto;
  }

  .user-photo-list_item {
    height: 612px;
    width: 300px;
    margin-right: 20px;
  }

  .user-photo_wrapper {
    width: 960px;
    margin: 0 auto;
  }
}

@import "variables.scss";
