.photo_title {
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  padding: 94px 50px 78px;
  margin: 0;
}

.photo_header--background {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #243141;
  background-size: cover;
  background-repeat: no-repeat;
  height: 238px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.photo_description {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 47px 38px;
  color: #283645;
}

.page-photo_header {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.user-photo {
  padding: 0;
  margin: 0 auto;
}

.panorama-of-the-day {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
}

.panorama-of-the-day_photo {
  width: 100%;
}

.panorama-of-the-day_logo {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #d22856;
  width: 140px;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 9px;
  margin: 0;
  margin-right: 7%;
  position: absolute;
  top: 0;
  right: 0;
}

.user-photo_wrapper {
  box-sizing: border-box;
}

.user-photo_user-block {
  padding: 20px 0;
  margin: 0 auto;
  width: 280px;
  background-color: #f2f2f2;
  transform: translateY(-6%);
}

.panorama-of-the-day_block {
  transform: translateY(-3%);
}

.user-photo-image {
  margin: 0;
  padding: 0 20px;
  width: 280px;
}

.user-block_name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-left: 5%;
}

.user-block_timer {
  font-weight: lighter;
  font-size: 12px;
  line-height: 24px;
  color: #283645;
  text-transform: uppercase;
}

.user-block_text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  padding: 0 16px;
  margin-bottom: 5px;
}

.user-block_like {
  color: #d22856;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  position: relative;
  margin-left: 49px;
  text-transform: uppercase;
}

.user-block_like::before {
  content: "";
  background-image: url("../img/icon-heart.svg");
  position: absolute;
  top: 2px;
  left: -28px;
  width: 12px;
  height: 12px;
}

.user-photo-list_item {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 320px;
}

.user-photo_link {
  width: 100%;
}

.user-photo_motivation {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  color: #283645;
  margin: 0;
  padding: 26px 20px 41px 20px;
}

@media (min-width: $tablet-width) {
  .photo_header--background {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    height: 393px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px;
    }
  }

  .photo_title {
    font-weight: lighter;
    font-size: 50px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin: 0 auto;
    width: 330px;
    padding-top: 120px;
    padding-bottom: 137px;
  }

  .photo_description {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding-left: 110px;
    padding-right: 104px;
    padding-top: 95px;
    padding-bottom: 78px;
    color: #283645;
  }

  .panorama-of-the-day {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
  }

  .panorama-of-the-day_photo {
    width: 100%;
    height: 510px;
  }

  .panorama-of-the-day_logo {
    top: 53px;
    margin-right: 3%;
  }

  .user-photo_user-block {
    width: 300px;
    padding: 23px 0;
    transform: translateY(-5%);
  }

  .panorama-of-the-day_block {
    width: 620px;
    padding: 22px 0;
    transform: translateY(-5%);
  }

  .user-photo_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 51px;
  }

  .user-photo-image {
    padding: 0;
    width: auto;
  }

  .user-photo-list_item {
    height: 450px;
    width: 300px;
    margin: 0;
    margin-bottom: 23px;
  }

  .user-block_name {
    margin-left: 9%;
  }

  .user-block_name-panorama {
    margin-left: 4%;
  }

  .user-block_text {
    height: 56px;
    padding: 0 28px;
  }

  .user-block_text-panorama {
    padding: 0 25px;
    height: auto;
  }

  .user-photo_motivation {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
    color: #283645;
    margin: 0;
    padding: 0 95px;
    margin-bottom: 67px;
  }

  .user-block_like {
    margin: 0;
    margin-left: 9%;
  }

  .user-block_like::before {
    display: none;
  }

  .user-block_like::after {
    content: "";
    background-image: url("../img/icon-heart.svg");
    position: absolute;
    top: 1px;
    right: -153px;
    width: 12px;
    height: 12px;
  }

  .user-block_like-panorama {
    position: absolute;
    margin: 0;
    top: 23px;
    right: 59px;
  }

  .user-block_like-panorama::after {
    content: "";
    background-image: url("../img/icon-heart.svg");
    position: absolute;
    top: 5px;
    right: -29px;
    width: 12px;
    height: 12px;
  }
}

@media (min-width: $desktop-width) {
  .photo_header--background {
    width: 100%;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    height: 393px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .photo_title {
    width: 340px;
    margin: 0 auto;
    padding-top: 168px;
    padding-bottom: 89px;
  }

  .photo_description {
    padding-left: 18%;
    padding-right: 20%;
    padding-top: 100px;
    padding-bottom: 82px;
    color: #283645;
    width: 576px;
    margin: 0 auto;
  }

  .user-photo {
    margin-bottom: 61px;
  }

  .user-block_text {
    height: 58px;
    padding: 0 27px;
  }

  .panorama-of-the-day {
    margin-bottom: 48px;
  }

  .panorama-of-the-day_photo {
    width: 100%;
  }

  .panorama-of-the-day_logo {
    margin-right: 11%;
  }

  .panorama-of-the-day_block {
    width: 939px;
    margin: 0 auto;
    position: relative;
  }

  .user-block_name {
    margin-left: 9%;
  }

  .user-block_name-panorama {
    margin-left: 3%;
  }

  .user-block_text-panorama {
    padding: 0 25px;
    height: auto;
  }

  .user-block_like {
    margin-left: 9%;
  }

  .user-block_like-panorama {
    position: absolute;
    top: 19px;
    right: 65px;
  }

  .user-block_like::after {
    top: 1px;
    right: -153px;
  }

  .user-block_like-panorama::after {
    content: "";
    background-image: url("../img/icon-heart.svg");
    position: absolute;
    top: 5px;
    right: -29px;
    width: 12px;
    height: 11px;
  }

  .user-photo-list_item {
    height: 612px;
    margin: 0;
  }

  .user-photo_wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .user-photo-image {
    width: 300px;
  }
}

@import "variables.scss";
