.photo-editor {
  background-color: #f2f2f2;
  width: 320px;
  margin: 0 auto;
}

.photo-editor_image {
  width: 280px;
  padding: 20px 20px;
  margin: 0 auto;
  margin-bottom: 17px;
}

.photo-editor_tools {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 38px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 235px;
}

.photo-editor_tool-name {
  margin-bottom: 30px;
}

.photo-editor_control {
  display: flex;
}

.photo-editor_control--crop {
  position: relative;
}

.photo-editor_range--crop {
  height: 2px;
  width: 240px;
  transform: translateX(-7%);
  position: absolute;
  background-color: #283645;
}

.photo-editor_range--fill {
  display: none;
  position: absolute;
}

.photo-editor_range--contrast {
  display: none;
  position: absolute;
}

.photo-editor_range-scale {
  position: absolute;
  top: -9px;
  right: 37px;
  width: 14px;
  height: 14px;
  background-color: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.photo-editor_btns {
  padding: 40px 9%;
  border-top: 1px #dddfe0 solid;
}

.photo-editor_btns-inner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.photo-editor_upload-btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  margin: 0 auto;
  padding: 16px 88px;
  margin-bottom: 16px;
}

.btn--upload {
  background-color: transparent;
  border: 3px #d22856 solid;
  border-radius: 50px;
}

.btn--cancel {
  background-color: transparent;
  border: 3px #dddfe0 solid;
  border-radius: 50px;
}

.photo-editor_cancel-btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #283645;
  opacity: 0.3;
  margin: 0 auto;
  padding: 16px 100px;
}

@media (min-width: $tablet-width) {
  .photo-editor {
    display: flex;
  }

  .photo-editor_wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .photo-editor_tools {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor {
    width: 940px;
    margin: 0 auto;
  }

  .photo-editor_picture {
    width: 470px;
  }

  .photo-editor_image {
    padding: 55px 80px;
    margin: 0 auto;
    width: 300px;
  }

  .photo-editor_btns {
    border: none;
    padding: 0;
  }

  .photo-editor_wrapper {
    width: 470px;
  }

  .photo-editor_tools {
    margin: 0;
    height: 301px;
    justify-content: center;
    padding-bottom: 26px;
  }

  .photo-editor_tool {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    width: 410px;
    height: 70px;
    border-bottom: 1px #dddfe0 solid;
  }

  .photo-editor_tool-name {
    width: 90px;
    margin: 0;
  }

  .photo-editor_range--crop {
    position: relative;
    transform: none;
    width: 290px;
  }

  .photo-editor_range--fill {
    display: inline;
    height: 2px;
    width: 290px;
    position: relative;
    background-color: #283645;
  }

  .photo-editor_range--contrast {
    display: inline;
    height: 2px;
    width: 290px;
    position: relative;
    background-color: #283645;
  }

  .photo-editor_btns-inner {
    width: 410px;
    justify-content: space-between;
  }

  .photo-editor_upload-btn {
    padding: 16px 42px;
    margin: 0;
  }

  .photo-editor_cancel-btn {
    padding: 16px 55px;
    margin: 0;
  }
}

@import "variables.scss";
