.main_title {
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: #283645;
  padding: 0;
  margin: 0;
}

.page-main_header {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.user-photo {
  padding: 0;
  margin: 0;
}

.panorama-of-the-day {
  margin: 0;
}

.panorama-of-the-day_logo {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #d22856;
  width: 140px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0;
}

.user-photo_user-block {
  margin: 0;
  background-color: #f2f2f2;
}

.user-block_name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.user-block_timer {
  font-weight: lighter;
  font-size: 12px;
  line-height: 24px;
  color: #283645;
}

.user-block_text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.user-block_like {
  color: #d22856;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
}

.user-photo-list_item {
  margin: 0;
}

.user-photo_motivation {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  color: #283645;
  margin: 0;
}
