$tablet-width: 768px;

$desktop-width: 1200px;

.photo-editor_image {
  padding: 0 20px;
  margin-bottom: 40px;
}

.photo-editor_tools {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.photo-editor_btns {
  padding: 40px 20px;
}

.photo-editor_btns-inner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.photo-editor_upload-btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  margin: 0 auto;
  padding: 16px 88px;
  margin-bottom: 16px;
}

.photo-editor_cancel-btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #283645;
  opacity: 0.3;
  margin: 0 auto;
  padding: 16px 88px;
}

@media (min-width: $tablet-width) {
  .photo-editor {
    display: flex;
  }

  .photo-editor_wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .photo-editor_tools {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor_tools {
    width: 410px;
  }
}
