html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

$tablet-width: 768px;

$desktop-width: 1200px;


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: $tablet-width) {
  .center {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .center {
    width: 1200px;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

@import "pageheader.scss";
@import "mainheader.scss";
@import "mainadvantages.scss";
@import "photomain.scss";
@import "pagefooter.scss";
@import "formmain.scss";
@import "mainreview.scss";
@import "maintariff.scss";
@import "maincontacts.scss";
@import "photoeditor.scss";
@import "contestform.scss";
