$tablet-width: 660px;
$desktop-width: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$darkblue: #1d2631;
$opensans: "Open Sans", "Arial", sans-serif;
$opensansregular: "Open Sans Regular", "Arial", sans-serif;
$gray: #f2f2f2;
$bluegreen: #283645;
$white: #ffffff;
$black: #000000;
$pink: #d22856;
$gainsboro: #e5e5e5;
$lightblue: #b5b9be;
$paleblue: #dddfe0;
